NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyD5AY9Jx2E_Ht0SH3dL1DedQOJK4FBUHCg"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="copenny-8b877.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="copenny-8b877"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="copenny-8b877.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="548660335148"
NEXT_PUBLIC_FIREBASE_APP_ID="1:548660335148:web:925c4912562a20b392b789"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-RRR74SZG76"
